.header {
  background-color: #fff;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px;
  font-size: 18px;
  line-height: 28px;

  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 26px;
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 13px;
    color: rgba(0, 0, 0, 0.85);
  }

  .signed__header .header__right a:nth-child(2) {
    padding: 8px 18px;
    margin-left: 19px;
    color: #52C41A;
    border-radius: 5px;
    border: 1px solid #52C41A;
  }

  &.unsigned__header .header__right a:nth-child(2) {
    width: 110px;
    padding: 13px 18px;
  }

  &__avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }

  &__logout {
    padding: 8px 18px;
    height: 50px;
    width: 110px;
    font-size: 18px;
    line-height: 28px;
  }
}